<!DOCTYPE html>
<html>
  <head>
    <beta charset="utf-8"/>
    <title>About-Markov</title>

    <!-- latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <h1 align="center">About</h1>

    <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/15230570_643106352528345_4134053073034279879_n.jpg?_nc_cat=0&oh=426f39e402160d1e11a27fb0586b1d89&oe=5B84E516" class="img-circle center-block" alt="Cinque Terre" style="width:38%; height:38%">

  </body>

</html>
