<!DOCTYPE html>
<html>
  <head>
    <beta charset="utf-8"/>
    <title>Markov</title>

    <!-- latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- custom CSS -->
    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>
    {% include 'includes/_navbar.html' %}

    {% if error == False %}
      <blockquote class="clockquote">
        <p class="mb-0">{{res}}</p>
        <footer class="blockquote-footer">{{author}}</footer>
      </blockquote>
    {% else %}
      <p align="center" class="mb-0">Invalid Username</p>
    {% endif %}

    <div class="col-4 text-center">
      <button align="center" type="button" class="btn btn-primary active" onclick="location.href = '/'";>Try Again!</button>
    </div>

  </body>

</html>
